<br><br>
<div class="container">
  <h1>Welcome to Altyn's music</h1>
  <!-- <p>Make purchases by one click</p> -->
  <div id="content"> <!-- Добавленный блок контента -->
    <h2>Popular artists</h2>
    <div class="content-option">
      <img src="https://i.pinimg.com/564x/4b/fc/b4/4bfcb401d7904e2768218944a529cb3e.jpg" width="80%"><br><br>
      <h3>Taylor Swift</h3>
      <p style="font-size: 95%; margin-top: -5%;">Taylor Alison Swift (born December 13, 1989) is an American singer-songwriter. </p>
      <a href="https://en.wikipedia.org/wiki/Taylor_Swift" target="_blank" class="more-info">learn more from wikipedia ></a>
    </div>
    <div class="content-option">
      <img src="https://i.pinimg.com/564x/e7/9a/8d/e79a8d4aca2dd82aa59cfba37fbbd242.jpg" width="80%"><br><br>
      <h3>The Weeknd</h3>
      <p style="font-size: 95%; margin-top: -5%;">Abel Makkonen Tesfaye (born February 16, 1990), known professionally as the Weeknd, is a Canadian singer-songwriter.</p>
      <a href="https://en.wikipedia.org/wiki/The_Weeknd" target="_blank" class="more-info">learn more from wikipedia></a>
    </div>
    <div class="content-option">
      <img src="https://i.pinimg.com/564x/58/50/f5/5850f592c6e3c162bbd38ce5fc9b134f.jpg" width="80%"><br><br>
      <h3>Ariana Grande</h3>
      <p style="font-size: 95%; margin-top: -5%;">Ariana Grande-Butera[note 1] (born June 26, 1993) is an American singer, songwriter, and actress.</p>
      <a href="https://en.wikipedia.org/wiki/Ariana_Grande" target="_blank" class="more-info">learn more from wikipedia ></a>
    </div>
  </div>
<div id="content">
  <h2>Popular albums</h2>
    <div class="content-option end-line">
      <img src="https://i.pinimg.com/564x/0c/05/0d/0c050d4152aaef20c041f28eaedcdf0b.jpg" width="80%"><br><br>
      <h3> Cowboy Carter</h3>
      <p style="font-size: 95%; margin-top: -5%;">Cowboy Carter is the eighth studio album by American singer and songwriter Beyoncé, released on March 29, 2024</p>
      <a href="https://en.wikipedia.org/wiki/Cowboy_Carter" target="_blank" class="more-info">learn more from wikipedia ></a>
    </div>
    <div class="content-option end-line">
      <img src="https://i.pinimg.com/736x/0c/a0/70/0ca0709a3a86cfd924bc2694733f0ac8.jpg" width="80%"><br><br>
      <h3> Radical Optimism</h3>
      <p style="font-size: 95%; margin-top: -5%;">Radical Optimism is the third studio album by English-Albanian singer Dua Lipa, released on 3 May 2024 by Warner Records.</p>
      <a href="https://en.wikipedia.org/wiki/Radical_Optimism" target="_blank" class="more-info">learn more from wikipedia></a>
    </div>
    <div class="content-option end-line">
      <img src="https://i.pinimg.com/736x/6e/c3/8f/6ec38f802e112770c247b6cbd81b2f70.jpg" width="80%"><br><br>
      <h3>Eternal Sunshine</h3>
      <p style="font-size: 95%; margin-top: -5%;">Eternal Sunshine is the seventh studio album by American singer Ariana Grande.</p>
      <a href="https://en.wikipedia.org/wiki/Eternal_Sunshine_(album)" target="_blank" class="more-info">learn more from wikipedia></a>
    </div>
</div>


  <div id = "news-page">
  </div>
  <br><br>
  <br><br>
  <br><br>
  <a routerLink="/login"><button class="button">Get started</button></a>
</div>

